* {
  box-sizing: border-box;
  margin: 0; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.6; }

button {
  cursor: pointer; }

button:disabled {
  cursor: default; }

.is-active {
  font-weight: bold; }

.header {
  width: 100%;
  margin: 0;
  padding: 5px;
  background: #231f20;
  border-bottom: 2px solid black;
  color: white; }

#header-title {
  font-family: 'Rock Salt', cursive;
  font-size: 3em;
  padding: 15px; }

.navlink {
  color: white;
  text-decoration: none; }

.big-icon {
  font-size: 30px;
  color: white; }

#header-list div a {
  text-decoration: none; }

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }

.flex-item {
  padding: 5px;
  width: 200px;
  height: 100px;
  color: black;
  font-weight: bold;
  text-align: center; }

.header-image {
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.home-link {
  text-decoration: none;
  color: Blue;
  font-weight: bold; }

#profile {
  display: none; }
